[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
ujson = "*"
crc16 = "*"
pyinstaller = "*"

[dev-packages]
autopep8 = "*"

[scripts]
app = "python main.py"

[requires]
python_version = "3.9"
